body{
	background-color: black;
}

.contenedor{
	width: 1000px;
	height: 1500px;
	border: 1px solid red;
    margin: auto;
	margin-top: 10px;
	/*background-image: url(imagenes/img5.jpg);*/
	border-radius: 30px 30px 0 0;
}
.contenedor .anuncio {
	width: 1000px;
	height: 250px;
	background-color: #636e72;
	margin-top: 10px;

}

.contenedor .anuncio table{
    margin-left: 40px;
    margin-top: 20px;
}
.contenedor .header {
	width: 1000px;
	height: 80px;
    border-radius: 30px 30px 0 0;
	
}
.contenedor .header .nombre {
	width: 200px;
	height: 80px;
	background-color: #b2bec3;
	float: left;
	border-radius: 30px 0 0 0;
}
.contenedor .header .nav {
	height: 80px;
	width: 800px;
	background-color: #b2bec3;
	float: left;
	border-radius: 0 30px 0 0;
}
.contenedor .acerca-mi {
	width: 1000px;
	height: 320px;
    background-color: #dfe6e9;
    margin-top: 10px;
    border-radius: 30px 30px 0 0;
}

.contenedor .acerca-mi div{
    margin-left: 40%;
}

.contenedor .acerca-mi label{
    color: black;
    font-size: 25px;
    margin-top: 10px;
    
}

.contenedor .acerca-mi table{
    margin-left: 20px;
}

.contenedor .servicios {
	width: 450px;
    height: 300px;
    background-color: #dfe6e9;
	border-radius: 0 0 30px 30px;
	margin: auto;
}

.contenedor .servicios label{
	font-size: 30px;
	font-family: sans-serif;
	color: black;
	margin-left: 27%;
}

.contenedor .c-servicio {
	width: 1000px;
    height: 375px;
    background-color: #dfe6e9;
    
}

.contenedor .header .nombre .label {
	color: black;
	font-size: 30px;
	font-family: sans-serif;
	float: none;
    margin-left: 50px;
    margin-top: 20px;
}

#img{
	width: 20px;
	height: 200px;
}

#p{
	font-family: sans-serif;
	align-items: center;
}

.contenedor .c-portafolio{
	width: 1000px;
	height: 300px;
	background-color: #dfe6e9;
    border-radius: 0 0 30px 30px;

}

.contenedor .c-portafolio label{
	font-size: 30px;
	font-family: sans-serif;
	color: black;
	margin-left: 27%;
}

.contenedor .c-portafolio .portafolio{
	width: 400px;
	height: 200px;
	margin: auto;
	background-color: #dfe6e9;
}


